@layer components {
    .button{
        @apply font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5;
    }
    .button-primary{
        @apply text-white bg-slate-800 hover:bg-slate-900 focus:ring-4 focus:outline-none focus:ring-blue-300 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
    }
}
